.navbar {
	height: 45px; width: 100%;
	background-color: #b30000;
	position: fixed; top: 0; left: 0;
}

h2 {
	font-family: cursive;
	float: right;
	margin-right: 15px; 
	color: white;
	line-height: 2px;
}

.selections {
	position: relative;
	top: 20px; left: 100px;
}

.wrapper {
	width: 600px;
	position: relative;
	top: 60px; left: 330px;
	
}

.grid {
	background-color: black;
	display: inline-block;
	float: left;
}

.minions-left {
	width: 100px;
	position: fixed;
	top: 400px; left: 2px;
	float: left;
}

.minions-right {
	width: 550px;
	position: fixed;
	top: 380px; left: 945px;
	float: right;
}
